*{
    margin: 0;
    padding: 0;
}

#main{
    display:grid;
    grid-template-areas: "header header" "Navigation Navigation" "Content Aside" "foter foter"; /* Representa colunas */
    grid-template-rows: 3.2rem 32rem 7rem 3.2rem; /* Representa Linhas e sua largura */
    background-color: aqua;
}

.mainheader{
    grid-area: header;
    background-color: red;
}

.mainnav{
    grid-area: Navigation;
    background-color:green;
}

.maincontent{
    grid-area: Content;
    background-color:pink;
}

.mainaside{
    grid-area:Aside;
    background-color:yellow;
}

.mainfooter{
    grid-area:foter;
    background-color:blue;
    display:flex;
    justify-content:center;
    color:white;
    font-size: 25px;
    padding:15px;
}